body {
    background: #0073a2;
    font-family: Open Sans, sans-serif;
    color: #D2D2D2;
}

/*<!-------- Navbar Start -------->*/

.br-name {
    color: #D2D2D2;
}

.br-name:hover {
    text-decoration: none;
    color: #fff;
}

.container-nav {
    width: 70%;
}

.main-navbar {
    background: #0073a2;
}

/*<!-------- Navbar End -------->*/

/*<!-------- Title Start -------->*/

.mainpage {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 370px;
}

.title-img {
    width: 30%;
}

.title-wd {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0 50px;
    overflow: hidden;
    position: relative;
    background-color: #D2D2D2;
    background-image: linear-gradient(90deg, #fff, #D2D2D2);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-Text-fill-color: fgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -5000%;
    }

    90% {
        background-position: 5000%;
    }

    100% {
        background-position: 5000%;
    }
}

.btn {
    display: inline-block;
    color: #D2D2D2;
    font-weight: normal;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    box-shadow: 0 0 20px 0px #DFF6FF;
}

.btn:hover {
    background: none;
}

h3 {
    color: #D2D2D2;
}

a {
    color: #D2D2D2;
}

a span {
    transition: 1.0s;
}

a:hover span:nth-child(1) {
    margin: 30px;
}

a:hover {
    color: #D2D2D2;
}

button span {
    transition: 1.0s;
}

button:hover span:nth-child(1) {
    margin: 30px;
}

.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.bounce-b{
    display: flex;
    margin-left: 20%;
    position: relative;
    top: 35px;
    font-size: 3rem;
    animation: bounce 5s 0.1s infinite;
}

.bounce-c{
    display: flex;
    position: relative;
    bottom: 4px;
    left: 188px;
    animation: bounce 5s 0.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/*<!-------- Title End -------->*/

/*< !-------- About-Me Page Start -------->*/

h2{
    font-size: 1.5rem;
}

.about-class {
    width: 70%
}

.about-me-image {
    width: 40%;
    border-radius: 100%;
    margin: 20px;
}

#about-me {
    color: #D2D2D2;
    font-family: Open Sans, sans-serif;
    text-align: center;
    padding: 20px;
}

/*< !-------- About-Me Page End -------->*/

/*<!-------- Projects Start -------->*/

.card-subtitle {
    color: #D2D2D2;
}

.card {
    background: #052D5D;
    color: #D2D2D2;
    text-align: center;
    box-shadow: 0 0 20px 0px #DFF6FF;
    /*cursor:  pointer;*/
    transition: transform 0.5s;
}

.card-box {
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

/*<!-------- Projects End -------->*/

/*<!-------- Contact Start -------->*/

.contact-logo {
    padding: 1% 1%;
    margin: 20px 10px;
    color: #D2D2D2;
}

.contact-logo:hover {
    color: #fff;
}

/*<!-------- Contact End -------->*/

}*/

.footer-p {
    line-height: 2.2;
    margin: 0 0 20px 0;
}

@media (max-width: 1028px) {

    .title-img { 
        transform: rotate(0);
        width: 40%`
        position: static;
        padding: 20px 0;
    }
}

@media only screen and (device-width: 820px) {
       /* default iPad screens */
       .main-image {
        width: 300px;
    }

    .title-wd {
        font-size: 1.5rem;
    }

    h2{
    font-size: 1.5rem;
    }

}

@media only screen and (max-device-width: 480px) {

    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .main-image {
        width: 250px;
    }

    .title-wd {
        font-size: 1.25rem;
        margin: 0 0;
    }

    h2{
        font-size: 1rem;
    }

    .bounce-b{
        display: flex;
        margin-left: 20%;
        position: relative;
        top: 35px;
        left: -40px;
        font-size: 3rem;

        animation: bounce 5s 0.1s infinite;
    }

    .bounce-c{
        display: flex;
        position: relative;
        bottom: 4px;
        left: 98px;
        animation: bounce 5s 0.5s infinite;
    }
}